@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111827;
  color: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add responsive font sizes */
@layer base {
  html {
    font-size: 14px;
  }

  @media (min-width: 640px) {
    html {
      font-size: 16px;
    }
  }
}